*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  line-height: 1.5;
	font-family: sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
main {
  padding: 2rem 1.25rem;
  max-width: 50rem;
  margin: 0 auto 3rem;
}
section { padding-top: 5rem; }
h1, h2, h3, h4 ,h5 ,h6 {
  page-break-after: avoid;
  page-break-inside: avoid;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.2;
  hyphens: manual;
  color: #005a9c;
  margin-top: 0;
}
h1 {
  font-size: 1.7rem;
}
h2 {
  font-size: 1.4rem;
}
p { margin: 0 0 1rem; }
ul, ol { margin: 0 0 2rem; }
ul li,
ol li {
  padding: 0;
  margin: 0.25rem 0 0.5rem;
}
a[href] {
  color: #034575;
  text-decoration: none;
  border-bottom: 1px solid #707070;
  padding: 0 1px 0;
  margin: 0 -1px 0;
}
a:visited { border-bottom-color: #bbb; }
a[href]:focus,
a[href]:hover {
  background: #bfbfbf40;
  border-bottom-width: 3px;
  margin-bottom: -2px;
}
a[href]:active {
  color: #C00;
  border-color: #C00;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  font-family: inherit;
  font-style: inherit;
}
button:focus,
[type="button"]:focus {
  outline: 0.1875rem solid hsl(216, 94%, 73%);
  outline-offset: 0.1875rem;
  z-index: 10;
}
code, kbd, pre {
  padding: 0.125rem 0.25rem;
  background-color: #efefef;
  font-size:0.9rem;
  font-family:Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
code { color: #c83500; }
pre {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  max-height: 21.25rem;
  background-color: #f8f9fa;
  color: #212529;
  border-width: 1px;
  border-color: #868e96;
  border-style: solid;
}
kbd {
  padding: 0.25rem 0.5rem;
  border-radius: 0.125rem;
  background-color: #343a40;
  color: white;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}
kbd kbd { font-weight:700; }